.wrapper {
    padding: 20px 10px;
    display: flex;
    gap: 20px;
}
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.date {
    font-size: 1.2rem;
    color: rgb(163, 147, 0);
}
.content-div {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.content-box {
    background-color: rgb(197, 184, 83);
    padding: 10px 20px;
    max-width: 100%;
    align-self: flex-start;
    display: block;
    border-radius: 0px 10px 10px 10px;
    font-size: 1.6rem;
}
.content {
    color: var(--text-color);
    max-width: 100%;
    height: auto;
    overflow: hidden;
    word-wrap: break-word;
    line-height: 1.3;
}
.image {
    width: 50%;
    object-fit: cover;
}
.owner {
    flex-direction: row-reverse;
}
.content-div-owner {
    align-items: flex-end;
}
.content-box-owner {
    align-self: flex-end;
    border-radius: 10px 10px 0px 10px;
}
