.wrapper {
    height: 60px;
    padding: 10px;
    background-color: #fff;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input {
    height: 100%;
    min-width: 70%;
    border: none;
    outline: none;
    font-size: 1.6rem;
    color: #222;
    caret-color: #222;
}
.send {
    display: flex;
    align-items: center;
}
.icon {
    margin-right: 20px;
    font-size: 2rem;
    color: #222;
    cursor: pointer;
    &:hover {
        transition: all 0.2s ease-out;
        color: var(--background-color);
    }
}
.btn {
    width: 100%;
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: var(--font-family2);
    font-size: 1.6rem;
    // line-height: 23px;
    outline: none;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.btn:focus {
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}
