.wrapper {
    max-height: 100%;
    overflow-y: hidden;
}
.wrapper-input {
    padding: 10px 8px;
}
.input {
    outline: none;
    height: 30px;
    border-radius: 50px;
    border: none;
    padding: 10px;
    caret-color: var(--text-color);
    width: 100%;
}

.friend-div {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--text-color);

    cursor: pointer;
    &:hover {
        transition: all 0.2s ease-out;
        background-color: var(--background-color);
    }
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.name-mess {
    margin-left: 10px;
}
.name {
    font-size: 1.6rem;
    font-weight: 700;
}
.mess {
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 4px;
}
